.heading-courses {
  font-size: 60px;
  text-align: center;
}

.grid-courses-div {
  display: flex;
  justify-content: center;
}
.all-link-div {
  border: 2px solid black;
  padding: 40px;
}
.all-link-div h1 {
  font-size: 20px;
  font-weight: 700;
}

.all-link-div a {
  color: blue;
  font-weight: 500;
  text-decoration: underline;
}
.map-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 30px;
}
